<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
      body {
        font-family: Inter, "Courier New", Courier, monospace;
      }
    </style>
  </head>
  {% block html_body %}
  <body>
    <div class="flex h-full max-w-xl mx-auto min-h-screen">
      <main class="flex-1 p-4">
        <div
          class="rounded-lg border bg-card text-card-foreground shadow-sm flex flex-col h-full"
          data-v0-t="card"
        >
          <div class="flex flex-col h-full flex-1">
            <div class="flex gap-2 items-center p-4 border-b">
              <div class="size-10 bg-neutral-200 rounded-full overflow-hidden">
                {% if partner.author.avatar %}
                <img
                  src="{{ partner.author.avatar }}"
                  alt="user profile"
                  class="w-full h-full object-cover"
                />
                {% endif %}
              </div>
              <h3 class="tracking-tight text-lg font-bold">
                {{ partner.username }}
              </h3>
            </div>
            <div
              id="loading"
              class="flex justify-center mt-32 animate-[spin_1.25s_linear_infinite] text-neutral-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-loader"
              >
                <line x1="12" x2="12" y1="2" y2="6" />
                <line x1="12" x2="12" y1="18" y2="22" />
                <line x1="4.93" x2="7.76" y1="4.93" y2="7.76" />
                <line x1="16.24" x2="19.07" y1="16.24" y2="19.07" />
                <line x1="2" x2="6" y1="12" y2="12" />
                <line x1="18" x2="22" y1="12" y2="12" />
                <line x1="4.93" x2="7.76" y1="19.07" y2="16.24" />
                <line x1="16.24" x2="19.07" y1="7.76" y2="4.93" />
              </svg>
            </div>
            <div class="p-6 flex-1 overflow-y-auto text-sm" id="messages"></div>
          </div>
          <div class="p-2 border-t">
            <form class="relative">
              <input
                class="flex h-10 border border-input px-3 ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-neutral-500 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 pr-12 pl-3 py-2 rounded-full text-sm bg-gray-100 w-full"
                placeholder="Type your message here..."
                type="text"
              />
              <div class="absolute inset-y-0 right-0 flex items-center px-1.5">
                <button
                  class="text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 p-1 rounded-full text-blue-500 w-8 h-8 flex items-center justify-center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-send-horizontal"
                  >
                    <path d="m3 3 3 9-3 9 19-9Z" />
                    <path d="M6 12h16" />
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
    <script>
      async function main() {
        const messagesElement = document.getElementById("messages");
        const loadingElement = document.getElementById("loading");

        const splitedURL = window.location.pathname.split("/");
        const roomId = splitedURL[5];

        displayMessages();

        async function displayMessages() {
          const user = await getUser();
          const messages = await getMessages(roomId);

          loadingElement.classList.add("hidden");

          messages.forEach((message) => {
            let messageElement = document.createElement("div");
            const messageContent = message.content;
            const createdAt = new Date(message.created_at).toLocaleTimeString(
              [],
              { hour: "2-digit", minute: "2-digit", hour12: false }
            );

            if (message.sender_id === user.id) {
              messageElement.innerHTML = `
              <div class="flex items-end justify-end">
                <div class="bg-blue-100 rounded-lg px-2 pt-2 pb-1 mt-2 text-right flex flex-col items-start gap-1">
                  <div>
                    ${messageContent}
                  </div>
                  <span class="text-[11px] font-medium text-neutral-500">
                    ${createdAt}
                  </span>
                </div>
              </div>
            `;
            } else {
              messageElement.innerHTML = `
              <div class="flex items-end justify-start">
                <div class="bg-gray-200 rounded-lg px-2 pt-2 pb-1 mt-2 text-right flex flex-col items-start gap-1">
                  <div>
                    ${messageContent}
                  </div>
                  <span class="text-[11px] font-medium text-neutral-500">
                    ${createdAt}
                  </span>
                </div>
              </div>
            `;
            }

            messagesElement.appendChild(messageElement);
          });
        }

        async function getUser() {
          const response = await fetch(
            "http://127.0.0.1:8000/api/v1/auth/users/me/"
          );
          return await response.json();
        }

        async function getMessages(roomId) {
          const response = await fetch(
            `http://127.0.0.1:8000/api/v1/chat/rooms/${roomId}/messages/`
          );
          return await response.json();
        }
      }

      main();
    </script>
  </body>
  {% endblock html_body %}
</html>
