<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
  <style>
    body {
      font-family: Inter, "Courier New", Courier, monospace;
      scroll-behavior: smooth;
    }

    /* Width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 100px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #777;
    }
  </style>
</head>

<body>
  <main class="mx-auto max-w-xl h-screen p-4">
    <div class="rounded-lg border bg-card text-card-foreground overflow-hidden shadow-sm flex flex-col h-full"
      data-v0-t="card">
      <div class="flex flex-[0.1] gap-2 items-center p-4 border-b">
        <div class="size-14 bg-neutral-200 rounded-full overflow-hidden">
          <img id="user-avatar" alt="user profile" class="w-full h-full object-cover" />
        </div>
        <div class="flex flex-col">
          <h3 id="user-name" class="tracking-tight text-lg font-bold"></h3>
        </div>
      </div>
      <div class="p-4 flex-1 overflow-y-auto text-sm" id="messages"></div>
      <div class="p-2 border-t flex-[0.05]">
        <form id="form" class="relative">
          <input name="content" autocomplete="off"
            class="flex h-10 border border-input px-3 ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-neutral-500 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 pr-12 pl-12 py-2 rounded-full text-sm bg-gray-100 w-full"
            placeholder="Type your message here..." type="text" />
          <button class="absolute inset-y-0 left-4 text-neutral-500 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd"
                d="M18.97 3.659a2.25 2.25 0 0 0-3.182 0l-10.94 10.94a3.75 3.75 0 1 0 5.304 5.303l7.693-7.693a.75.75 0 0 1 1.06 1.06l-7.693 7.693a5.25 5.25 0 1 1-7.424-7.424l10.939-10.94a3.75 3.75 0 1 1 5.303 5.304L9.097 18.835l-.008.008-.007.007-.002.002-.003.002A2.25 2.25 0 0 1 5.91 15.66l7.81-7.81a.75.75 0 0 1 1.061 1.06l-7.81 7.81a.75.75 0 0 0 1.054 1.068L18.97 6.84a2.25 2.25 0 0 0 0-3.182Z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div class="absolute inset-y-0 right-0 flex items-center px-1.5">
            <button
              class="text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 p-1 rounded-full text-blue-500 w-8 h-8 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path
                  d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <script>
    async function initializeChat() {
      const form = document.getElementById("form");
      const messagesContainer = document.getElementById("messages");

      const socketUrl = `ws://${window.location.host}/ws/socket-server/{{contact_id}}/`;

      const currentUser = await getCurrentUser();
      const chatSocket = new WebSocket(socketUrl);

      chatSocket.onmessage = (event) => {
        const data = JSON.parse(event.data);
        console.log(data);

        if (data.type === 'connection_established') {
          displayChatHistory(data.history, currentUser, messagesContainer);
          displayUserDetails(data.contact);
        }

        if (data.type === "chat") {
          displayMessage(data, currentUser, messagesContainer);
        }
      };

      form.addEventListener("submit", (event) => {
        event.preventDefault();

        const content = event.target.content.value;
        if (!content) {
          return;
        }

        chatSocket.send(
          JSON.stringify({
            content: content,
          })
        );

        form.reset();
      });
    }

    async function getCurrentUser() {
      const response = await fetch("http://127.0.0.1:8000/auth/users/me/");
      return response.json();
    }

    function displayChatHistory(history, currentUser, container) {
      container.style.opacity = '0';

      history.forEach((message) => {
        displayMessage(message, currentUser, container);
      });

      setTimeout(() => {
        container.scrollTop = container.scrollHeight;
        container.style.opacity = '100';
      }, 0)
    }

    function displayMessage(messageData, currentUser, container) {
      const messageElement = document.createElement('div');
      const messageContent = messageData.content;

      const date = new Date(messageData.created_at);
      let hours = date.getHours();
      let minutes = date.getMinutes();

      // Pad the minutes and hours with zeros, if they are less than 10.
      hours = hours < 10 ? '0' + hours : hours;
      minutes = minutes < 10 ? '0' + minutes : minutes;

      const createdAt = hours + ':' + minutes;

      if (messageData.sender_id === currentUser.id) {
        messageElement.className = "flex justify-end";
      } else {
        messageElement.className = "flex justify-start";
      }

      messageElement.innerHTML = `
        <div class="flex items-end justify-${messageData.sender_id === currentUser.id ? 'end' : 'start'} max-w-[350px]">
          <div class="bg-${messageData.sender_id === currentUser.id ? 'blue-100' : 'gray-200'} rounded-lg px-2 pt-2 pb-1 mt-2 text-left flex flex-col items-start gap-1">
            <div>
              ${messageContent}
            </div>
            <span class="text-[11px] font-medium text-neutral-500">
              ${createdAt}
            </span>
          </div>
        </div>
      `;

      container.appendChild(messageElement);
      messageElement.scrollIntoView({ behavior: 'smooth' });
    }

    function displayUserDetails(user) {
      const userNameElement = document.getElementById("user-name");
      const userAvatarElement = document.getElementById("user-avatar");

      userNameElement.textContent = user.username;
      userAvatarElement.src = user.avatar;
    }

    initializeChat();
  </script>
</body>

</html>